<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add
		  name="Default"
		  connectionString="host=localhost;port=5432;database=Sample;user id=postgres;password=H@R$sh12"
		  providerName="Npgsql" />
	</connectionStrings>
</configuration>